<footer class="bg-light text-muted mt-5">
  <div class="container">
    <div class="row pt-5 pb-3">
      <div class="col-sm-12 text-center">
        <p>
          Copyright (c) 2024  <a href="https://www.linkedin.com/in/yuya-kitano/" target="_blank">Yuya KITANO</a><br>
          &nbsp; &nbsp; Released under <a href="https://opensource.org/licenses/mit-license.php" target="_blank">the MIT license</a>
        </p>
      </div>
    </div>
  </div>
</footer>